.container{
    background-color: #FEF6E4;
    width: 100%;
    height: 100%;
    padding-top: 5rem;
    
}

.contain{
    width: 1181px;
    height: 664px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family:'Plus Jakarta Sans', sans-serif;
}



.headertext{
    font-weight: 100;
    text-decoration: underline;
    text-decoration-color:#FFD803 ;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 12rem;
}

.heading{
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-left: 2rem;
    padding-left: 12rem;
}

.paragraphtext{
    font-weight: 400;
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px;
    margin-bottom: 20px;
    padding-left: 12rem;
}

.corporate{
     width: 287px;
    height: 474px;
    background-color: #F3E6A0;
    border-radius: 14px; 
    position: relative;
    overflow: hidden;

}
.corporate::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/corporatedev.png);
    transition: left 0.5s ease-in-out;
}

.corporate:hover::after {
    left: 0;
}


.graphic{
    width: 287px;
    height: 474px; 
    background-color: #CCC6F2;
    border-radius: 14px;  
    position: relative;
    overflow: hidden;
}

.graphic::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/graphicdev.png);
    transition: left 0.5s ease-in-out;
}

.graphic:hover::after {
    left: 0;
}

.webdesign{
    width: 287px;
    height: 474px;  
    background-color: #CBDAFF;
    border-radius: 14px;
    position: relative;
    overflow: hidden;
}

.webdesign::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/webdev.png);
    transition: left 0.5s ease-in-out;
}

.webdesign:hover::after {
    left: 0;
}
.mobile{
    width: 287px;
    height: 474px;
    background-color: #EAB8FC;
    border-radius: 14px;  
    position: relative;
    overflow: hidden;
}

.mobile::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/mobdev.png);
    transition: left 0.5s ease-in-out;
}

.mobile:hover::after {
    left: 0;
}
 
.lower{
    display: flex;
gap: 11px;
justify-content: center;
align-items: center;
width: 1181px;
margin-left: 7rem;
}

.vector{
   padding-top: 3rem;
   padding-left: 2rem 
}

h3{
    font-size: larger;
    padding-left: 2rem;
    margin-top: 19rem;
    
    
}

.breakpoint{
    display: flex;
    justify-content: space-between;
}

.icon{
 margin-top: 19rem;
 padding-right: 2rem;
}

@media(max-width:720px){
    .container{
        width: 100%;
        margin-top: 20rem;
    }
    .contain{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: black;
        font-family:'Plus Jakarta Sans', sans-serif;

        margin-top: 15rem;
    }  

    .upper h2{
        padding: 0;
    }

    .lower{
        width: 100%;
        display: flex;
    gap: 11px;
    justify-content: center;
    align-items: center;
flex-direction: column;
    }
.mobile, .graphic, .webdesign, .corporate{
    width: 100%;
    height: 313px;
}
}